{% extends "navbar-contentrater.html" %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<form action="{% url 'results' %}" method="POST">
			<fieldset>
				{% csrf_token %}
                <div style="text-align: center;">
					<legend class="display-4">Copy In Your Own</legend>
				</div>
				<div class="form-group">
					<label for="textArea">Content:</label>
					<textarea class="form-control" id="textArea" name="textArea" rows="10"></textarea>
				</div>
				<div style="text-align: center;"><button type="submit" class="btn btn-primary" name="submit" value="rate">RATE!</button></div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}