{% extends "navbar-contentrater.html" %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<form>
			<fieldset>
				<center>
					<legend class="display-4">Copy In Your Own</legend>
				</center>
				<div class="form-group">
					<label for="textArea">Content:</label>
					<textarea class="form-control" id="textArea" rows="10"></textarea>
				</div>
				<center><button type="submit" class="btn btn-primary">RATE!</button></center>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}