{% extends "base.html" %}

{% block nav1 %}My Profile{% endblock %}
{% block nav2 %}Sign Out{% endblock %}

{% block content %}
    <center><h1 class="display-4">Rate Your Content!</h1>
        <div class="card bg-light mb-3" style="max-width: 40rem;">
            <div class="card-body">
                <div class="container">
                    <button type="button" class="btn btn-lg btn-block btn-info">Search for Content</button>
                    <button type="button" class="btn btn-lg btn-block btn-info">Upload a File</button>
                    <button type="button" class="btn btn-lg btn-block btn-info">Copy it in!</button>
                </div>
            </div>
        </div>
    </center>
{% endblock %}