{% extends "navbar-contentrater.html" %}

{% block content %}
<div style="text-align: center;"><h1 class="display-4">Rate Your Content!</h1>
    <div class="container">
        <div class="jumbotron">
            <a href="{% url 'search' %}" class="btn btn-lg btn-block btn-info">Search For Content</a>
            &nbsp;
            <a href="{% url 'upload' %}" class="btn btn-lg btn-block btn-info">Upload A File</a>
            &nbsp;
            <a href="{% url 'copy' %}" class="btn btn-lg btn-block btn-info">Copy It In!</a>
        </div>
    </div>
</div>
{% endblock %}