{% extends "base.html" %}

{% block nav1 %}<a class="nav-item nav-link" href="{% url 'algorithm' %}">About the Algorithm</a>{% endblock %}
{% block nav2 %}<a class="nav-item nav-link" href="{% url 'about' %}">About Us</a>{% endblock %}
{% block nav_header %}Content Rater{% endblock %}

{% block content %}

    <div class="container">
        <form lpformnum="1" _lpchecked="1" action="/login/" method="post">
            <fieldset>
                <center>
                    <legend class="display-4">Log In</legend>
                </center>
                {% csrf_token %}
                {% for field in login_form %}
                    <div class="form-group">
                        {{ field.label_tag }} <br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-primary" value="login" name="submit">Login</button>
        </form>
        <center><h1 class="display-4">OR</h1></center>
        <form lpformnum="1" _lpchecked="1" action="/login/" method="post">
            <fieldset>
                <center>
                    <legend class="display-4">Sign Up</legend>
                </center>
                {% csrf_token %}
                {% for field in signup_form %}
                    <div class="form-group">
                        {{ field.label }} <br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-primary" value="signup" name="submit">Sign Up</button>
        </form>
    </div>
{% endblock %}