{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-primary navbar-inverse">
	<div class="container">
		<button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
			<span class="navbar-toggler-icon"</span>
		</button>
		<div class="collapse navbar-collapse" id="mainNav">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="#">My Profile</a>
				<a class="nav-item nav-link" href="#">Sign Out</a>
			</div>
		</div>
	</div>
</nav>