{% extends "navbar-profile.html" %}
{% load access_dict %}

{% block optional_styling %}
    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #a9a9a9;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #E95420;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #E95420;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="jumbotron">
                        <div class="jumbotron" style="background: #a9a9a9;">
                            <div style="text-align: center;"><h1 class="display-5">Update Credentials</h1>
                                <p class="lead">Update your username or password.</p></div>
                            <hr class="my-4">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#username">Username</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#password">Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#userandpass">Username &
                                        Password</a>
                                </li>
                            </ul>
                            &nbsp;
                            <div id="displayForm" class="tab-content">
                                <div class="tab-pane fade active show" id="username">
                                    <form lpformnum="1" _lpchecked="1" action="{% url 'profile' %}" method="post">
                                        <fieldset>
                                            {% csrf_token %}
                                            <div style="text-align: center;">
                                                <legend class="display-6">Change Username</legend>
                                            </div>
                                            {% for field in change_username_form %}
                                                <div class="form-group">
                                                    {{ field.label_tag }} <br>
                                                    {{ field }}
                                                    {% if field.help_text %}
                                                        <small style="color: grey">{{ field.help_text }}</small>
                                                    {% endif %}
                                                    {% for error in field.errors %}
                                                        <p style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                            <div style="text-align: center;">
                                                <button type="submit" value="username" name="submit_username"
                                                        class="btn btn-primary">Update credentials
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="password">
                                    <form lpformnum="1" _lpchecked="1" action="{% url 'profile' %}" method="post">
                                        <fieldset>
                                            {% csrf_token %}
                                            <div style="text-align: center;">
                                                <legend class="display-6">Change Password</legend>
                                            </div>
                                            {% for field in change_password_form %}
                                                <div class="form-group">
                                                    {{ field.label_tag }} <br>
                                                    {{ field }}
                                                    {% if field.help_text %}
                                                        <small style="color: grey">{{ field.help_text }}</small>
                                                    {% endif %}
                                                    {% for error in field.errors %}
                                                        <p style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                            <div style="text-align: center;">
                                                <button type="submit" value="password" name="submit_password"
                                                        class="btn btn-primary">Update credentials
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="userandpass">
                                    <form lpformnum="1" _lpchecked="1" action="{% url 'profile' %}" method="post">
                                        <fieldset>
                                            {% csrf_token %}
                                            <div style="text-align: center;">
                                                <legend class="display-6">Change Username & Password</legend>
                                            </div>
                                            {% for field in change_username_password_form %}
                                                <div class="form-group">
                                                    {{ field.label_tag }} <br>
                                                    {{ field }}
                                                    {% if field.help_text %}
                                                        <small style="color: grey">{{ field.help_text }}</small>
                                                    {% endif %}
                                                    {% for error in field.errors %}
                                                        <p style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                            <div style="text-align: center;">
                                                <button type="submit" value="both" name="submit_both"
                                                        class="btn btn-primary">
                                                    Update credentials
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            {% if recently_rated|length == 0 %}
                                <div style="text-align: center;"><h1 class="display-5">No Recently Rated</h1></div>
                            {% else %}
                                <div style="text-align: center;"><h1 class="display-5">Recently Rated</h1></div>
                                {% for song, rating in recently_rated.items %}
                                    <hr class="my-4">
                                    <!-- Default colors: bg-success (1-2), bg-info (3-4), bg-warning (5-6), bg-primary (7-8), bg-danger (9-10) -->
                                    <p class="lead">{{ song }}:</p>
                                    <div class="progress">
                                        {% if rating == 1 or rating == 2 %}
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                                 role="progressbar" aria-valuenow="{{ rating }}" aria-valuemin="1"
                                                 aria-valuemax="10" style="width: {{ rating }}0%">{{ rating }}</div>
                                        {% elif rating == 3 or rating == 4 %}
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                                 role="progressbar" aria-valuenow="{{ rating }}" aria-valuemin="1"
                                                 aria-valuemax="10" style="width: {{ rating }}0%">{{ rating }}</div>
                                        {% elif rating == 5 or rating == 6 %}
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                                 role="progressbar" aria-valuenow="{{ rating }}" aria-valuemin="1"
                                                 aria-valuemax="10" style="width: {{ rating }}0%">{{ rating }}</div>
                                        {% elif rating == 7 or rating == 8 %}
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                                 role="progressbar" aria-valuenow="{{ rating }}" aria-valuemin="1"
                                                 aria-valuemax="10" style="width: {{ rating }}0%">{{ rating }}</div>
                                        {% elif rating == 9 or rating == 10 %}
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                                 role="progressbar" aria-valuenow="{{ rating }}" aria-valuemin="1"
                                                 aria-valuemax="10" style="width: {{ rating }}0%">{{ rating }}</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="jumbotron">
                        <div style="text-align: center;"><h1 class="display-5">My Rating Settings</h1></div>
                        <form lpformnum="1" _lpchecked="1" action="{% url 'profile' %}" method="POST">
                            <fieldset>
                                {% csrf_token %}
                                {% for cat in categories %}
                                    <hr class="my-2">
                                    <a class="lead"
                                       href="{% url 'words' category=cat.name %}">
                                        <h5>{{ cat.name|title }}</h5>
                                    </a>
                                    <div class="slidecontainer">
                                        <input type="range" id="{{ cat.name }}_cat" name="{{ cat.name }}_cat" min="0"
                                               max="{{ weight_levels }}" value="{{ cat.weight }}" class="slider"
                                               oninput="update_output('{{ cat.name }}')">
                                        <output name="{{ cat.name }}_amount" id="{{ cat.name }}_amount"
                                                for="{{ cat.name }}_cat">{{ weight_dict|get_item:cat.weight }}</output>
                                    </div>
                                    &nbsp;
                                {% endfor %}
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary" name="submit_category_weights" value="category_weights">Update Category Weights</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function update_output(category) {
            var text = {};
            {% for weight in weight_dict %}
                text[{{ weight }}] = "{{ weight_dict|get_item:weight }}";
            {% endfor %}
            document.getElementById(category + '_amount').value = text[document.getElementById(category+'_cat').value];
        }
    </script>
{% endblock %}