{% extends "base.html" %}

{% block nav1 %}<a class="nav-item nav-link" href="{% url 'algorithm' %}">About the Algorithm</a>{% endblock %}
{% block nav2 %}<a class="nav-item nav-link" href="{% url 'about' %}">About Us</a>{% endblock %}
{% block nav3 %}<a class="nav-item nav-link" href="{% url 'profile' %}">My Profile</a>{% endblock %}
{% block nav4 %}<a class="nav-item nav-link" href="{% url 'login' %}">Sign Out</a>{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="container">
				<div class="row">
					<div class="jumbotron">
						<center><h1 class="display-5">Update Credentials</h1>
						<p class="lead">Update your username or password.</p></center>
						<hr class="my-4">
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link active show" data-toggle="tab" href="#username">Username</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#password">Password</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#userandpass">Username & Password</a>
								</li>
							 </ul>
							 &nbsp;
						<form lpformnum="1" _lpchecked="1">
							<fieldset>
								<div id="displayForm" class="tab-content">
									<div class="tab-pane fade active show" id="username">
										<center><legend class="display-6">Change Username</legend></center>
											<div class="form-group">
												<label for="newUsername">New Username</label>
												<input type="text" class="form-control" id="newUsername" placeholder="Enter username">
											</div>
									</div>
									<div class="tab-pane fade" id="password">
										<center><legend class="display-6">Change Password</legend></center>
											<div class="form-group">
												<label for="newPassword">New Password</label>
												<input type="password" class="form-control" id="newPassword" placeholder="Enter password">
											</div>
											<div class="form-group">
												<label for="confirmPassword">Confirm Password</label>
												<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
											</div>
									</div>
									<div class="tab-pane fade" id="userandpass">
										<center><legend class="display-6">Change Username & Password</legend></center>
											<div class="form-group">
												<label for="newUsername">New Username</label>
												<input type="text" class="form-control" id="newUsername" placeholder="Enter username">
											</div>
											<div class="form-group">
												<label for="newPassword">New Password</label>
												<input type="password" class="form-control" id="newPassword" placeholder="Enter password">
											</div>
											<div class="form-group">
												<label for="confirmPassword">Confirm Password</label>
												<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
											</div>
									</div>
								</div>
							</fieldset>
							<center><button type="submit" class="btn btn-primary">Update credentials</button></center>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="container">
				<div class="row">
					<div class="jumbotron">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}