{% extends "navbar-profile.html" %}
{% load access_dict %}

{% block optional_styling %}
    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #a9a9a9;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #E95420;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #E95420;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="{% url 'profile' %}" class="btn btn-lg btn-block btn-info">Back to Profile</a>
                </div>
            </div>
            <div style="text-align: center;"><h1>Customize Word Weights</h1>
                <p class="lead">Edit each individual word weight in category: {{ category|title }}.</p>
            </div>
            <form lpformnum="1" _lpchecked="1" action="{% url 'words' category=category.name %}" method="POST">
                <fieldset>
                    {% csrf_token %}
                    <div style="text-align: center;">
                        <legend class="display-6">{{ category|title }} Words</legend>
                    </div>
                    {% for word, weight in words.items %}
                        <hr class="my-2">
                        <p class="lead">{{ word }}</p>
                        <div class="slidecontainer">
                            <input type="range" id="word_{{ word }}" name="word_{{ word }}" min="0"
                                   max="{{ weight_levels }}" value="{{ weight }}"
                                   class="slider" oninput="update_output('{{ word }}')">
                            <output name="{{ word }}_amount" id="{{ word }}_amount"
                                    for="word_{{ word }}">{{ weight_dict|get_item:weight }}</output>
                        </div>
                    {% endfor %}
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary" name="submit_word_weights" value="word_weights">
                            Update Words
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        function update_output(word) {
            var text = {};
            {% for weight in weight_dict %}
                text[{{ weight }}] = "{{ weight_dict|get_item:weight }}";
            {% endfor %}
            document.getElementById(word + '_amount').value = text[document.getElementById('word_' + word).value];
        }
    </script>
{% endblock %}