{% extends "navbar-contentrater.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div style="text-align: center;"><h1>Word Counts for Baby Got Back</h1>
        <p class="lead">Check word counts by category.</p></div>
        <hr class="my-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#violence">Violence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#drugs">Drugs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#sex">Sex/Nudity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#racism">Racism</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#crude">Crude</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#demeaning">Demeaning</a>
                </li>
            </ul>
             &nbsp;
        <div id="displayForm" class="tab-content">
            <div class="tab-pane fade active show" id="violence">
                <div style="text-align: center;"><legend class="display-6">Violence Words</legend></div>
                    <hr class="my-4">
                    <p class="lead">Word1: 3</p>
                    <hr class="my-4">
                    <p class="lead">Word2: 4</p>
                    <hr class="my-4">
                    <p class="lead">Word3: 2</p>
                    &nbsp;
            </div>
            <div class="tab-pane fade" id="drugs">
                <div style="text-align: center;"><legend class="display-6">Drug Words</legend></div>
                    <hr class="my-4">
                    <p class="lead">Word1: 3</p>
                    <hr class="my-4">
                    <p class="lead">Word2: 4</p>
                    <hr class="my-4">
                    <p class="lead">Word3: 2</p>
                    &nbsp;
            </div>
            <div class="tab-pane fade" id="sex">
                <div style="text-align: center;"><legend class="display-6">Sex/Nudity Words</legend></div>
                    <hr class="my-4">
                    <p class="lead">Word1: 3</p>
                    <hr class="my-4">
                    <p class="lead">Word2: 4</p>
                    <hr class="my-4">
                    <p class="lead">Word3: 2</p>
                    &nbsp;
            </div>
            <div class="tab-pane fade" id="racism">
                <div style="text-align: center;"><legend class="display-6">Racism Words</legend></div>
                    <hr class="my-4">
                    <p class="lead">Word1: 3</p>
                    <hr class="my-4">
                    <p class="lead">Word2: 4</p>
                    <hr class="my-4">
                    <p class="lead">Word3: 2</p>
                    &nbsp;
            </div>
            <div class="tab-pane fade" id="crude">
                <div style="text-align: center;"><legend class="display-6">Crude Words</legend></div>
                    <hr class="my-4">
                    <p class="lead">Word1: 3</p>
                    <hr class="my-4">
                    <p class="lead">Word2: 4</p>
                    <hr class="my-4">
                    <p class="lead">Word3: 2</p>
                    &nbsp;
            </div>
            <div class="tab-pane fade" id="demeaning">
                <div style="text-align: center;"><legend class="display-6">Demeaning Words</legend></div>
                    <hr class="my-4">
                    <p class="lead">Word1: 3</p>
                    <hr class="my-4">
                    <p class="lead">Word2: 4</p>
                    <hr class="my-4">
                    <p class="lead">Word3: 2</p>
                    &nbsp;
            </div>
        </div>
    </div>
</div>
{% endblock %}