{% extends "navbar-profile.html" %}

{% block optional_styling %}
<style>
    .slidecontainer {
    width: 100%;
    }

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #a9a9a9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }

.slider:hover {
    opacity: 1;
    }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #E95420;
    cursor: pointer;
    }

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #E95420;
    cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="{% url 'profile' %}" class="btn btn-lg btn-block btn-info">Back to Profile</a>
            </div>
        </div>
        &nbsp;
        <div style="text-align: center;"><h1>Customize Word Weights</h1>
        <p class="lead">Edit each individual word in their respective categories.</p></div>
        <hr class="my-4">
            <ul class="nav nav-tabs">
                {% for category in categories %}
                    {% if forloop.counter == 1 %}
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#{{ category }}">{{ category|title }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#{{ category }}">{{ category|title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
             </ul>
             &nbsp;
        <form>
            <fieldset>
                <div id="displayForm" class="tab-content">
                    {% for category in categories %}
                        {% if forloop.counter == 1 %}
                            <div class="tab-pane fade active show" id="{{ category }}">
                        {% else %}
                            <div class="tab-pane fade" id="{{ category }}">
                        {% endif %}
                                <div style="text-align: center;"><legend class="display-6">{{ category|title }} Words</legend></div>
                                {% for word in words %}
                                        <hr class="my-4">
                                            <p class="lead">{{ word }}</p>
                                            <div class="slidecontainer">
                                                <input type="range" id="{{ word }}_{{ category }}" name="{{ word }}_{{ category }}" min="0" max="3" value="1" class="slider" oninput="{{ word }}_{{ category }}_amount.value={{ word }}_{{ category }}.value">
                                                <output name="{{ word }}_{{ category }}_amount" id="{{ word }}_{{ category }}_amount" for="{{ word }}_{{ category }}">1</output>
                                            </div>
                                            &nbsp;
                                {% endfor %}
                            </div>
                    {% endfor %}
            </fieldset>
            <div style="text-align: center;"><button type="submit" class="btn btn-primary">Update words</button></div>
        </form>
    </div>
</div>

{% endblock %}